# Nix build artifacts
result
result-*

# Nix devshell artifacts
.direnv/
.pre-commit-config.yaml

# Zig build artifacts
.zig-cache/
zig-cache/
zig-out/
/release/
/debug/
/build/
/build-*/
/docgen_tmp/
